@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mobile optimization */
* {
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  touch-action: manipulation;
  overflow-x: hidden;
}
